# ##############################################################################
# set following env vars to install unattended

# SERVER_ID is the id of the server to be used. Run following command to list all servers and their ids:
# docker run -v $HOME/.config/netcup-cli:/secrets --rm ghcr.io/kail0r/netcup-cli:latest /netcup-cli servers list
SERVER_ID=""

# DISK_NAME is the name of the disk to be used. Run following command to list all disks and their names:
# docker run -v $HOME/.config/netcup-cli:/secrets --rm ghcr.io/kail0r/netcup-cli:latest /netcup-cli servers disks list $SERVER_ID
DISK_NAME=""

# Optional Server settings
SERVER_SETTINGS_HOSTNAME=""
SERVER_SETTINGS_NICKNAME=""
SERVER_SETTINGS_DISK_FORMAT=""  # can be one of: VIRTIO, VIRTIO_SCSI, IDE, SATA
SERVER_SETTINGS_CPU_TOPOLOGY="" # <Sockets> <Cores> Example: 1 2

# config for your GitOps repository on Github

GITHUB_USER=""
# Github Personal Access Token with repo permissions (all readonly: Administration, Content)
# THE TOKEN WILL NOT BE USED AS AN ENV VAR IN DOCKER!
GITHUB_TOKEN=""

GITHUB_REPO_URL=""
GITHUB_BRANCH=""
GITHUB_CLUSTER_PATH="" # usually something like "clusters/my-cluster"
